<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.val.databaseconnect_v2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme" >

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Screen Activity -->
        <activity
            android:name=".MainScreenActivity"
            android:label="JamBox" >
        </activity>

        <!-- All Users Activity -->
        <activity
            android:name=".AllUsersActivity"
            android:label="JamBox - All Users" >
        </activity>

         <!-- All Friends Activity -->
        <activity
            android:name=".AllFriendsActivity"
            android:label="JamBox - All Friends" >
        </activity>
        
        <!-- Add User Activity -->
        <activity
            android:name=".NewUserActivity"
            android:label="JamBox - Add New User" >
        </activity>

        <!--  Display User Activity -->
        <activity
            android:name=".DisplayUserActivity"
            android:label="JamBox - Display User" >
        </activity>
        
        <!-- Add Friend Activity -->
        <activity
            android:name=".AddFriendActivity"
            android:label="JamBox - Add Friend" >
        </activity>

        <!-- Previous jam Activity -->
        <!--<activity-->
            <!--android:name=".ChooseJammersActivity"-->
            <!--android:label="Jam'Box - Add Friend" >-->
        <!--</activity>-->

        <!-- JAM Activity -->
        <activity
            android:name=".Arduino_connect.usb.ArduinoTerminalActivity"
            android:label="JamBox - Connection to Arduino" >
        </activity>
    </application>

</manifest>
