<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.val.databaseconnect_v2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.android.future.usb.accessory" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Screen Activity -->
        <activity
            android:name=".MainScreenActivity"
            android:label="JamBox" >
        </activity>

        <!-- All Users Activity -->
        <activity
            android:name=".AllUsersActivity"
            android:label="JamBox - All Users" >
        </activity>

         <!-- All Friends Activity -->
        <activity
            android:name=".AllFriendsActivity"
            android:label="JamBox - All Friends" >
        </activity>
        
        <!-- Add User Activity -->
        <activity
            android:name=".NewUserActivity"
            android:label="JamBox - Add New User" >
        </activity>

        <!--  Display User Activity -->
        <activity
            android:name=".DisplayUserActivity"
            android:label="JamBox - Display User" >
        </activity>
        
        <!-- Add Friend Activity -->
        <activity
            android:name=".AddFriendActivity"
            android:label="JamBox - Add Friend" >
        </activity>



         <!--Previous jam Activity-->
        <!--<activity-->
            <!--android:name=".Arduino_connect.usb.ArduinoTerminalActivity"-->
            <!--android:label="ARDUINO BITCH" >-->
        <!--</activity>-->

         JAM Activity
        <activity
            android:name=".JamActivity"
            android:label="New Jam !" >
        </activity>



        <activity android:name=".Arduino_connect.usb.ArduinoTerminalActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"
            android:theme="@android:style/Theme" />

        <activity android:name=".Arduino_connect.usb.Preferences" />

        <activity android:name=".Arduino_connect.usb.StartServiceActivity"
            android:label="@string/starter_app_name"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>



        <service android:name=".Arduino_connect.usb.ArduinoUsbService"/>
        <!-- <service android:name=".ArduinoUsbService" android:process=":remote" /> -->

        <uses-library android:name="com.android.future.usb.accessory" />
    </application>

</manifest>
